<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>My test page</title>


    <meta name="author" content="..." />
    <meta name="description" content="..." />




    <!--  Essential META Tags -->
    <meta property="og:title" content="European Travel Destinations">
    <meta property="og:type" content="article" />
    <meta property="og:image" content="http://euro-travel-example.com/thumbnail.jpg">
    <meta property="og:url" content="http://euro-travel-example.com/index.htm">
    <meta name="twitter:card" content="summary_large_image">

    <!--  Non-Essential, But Recommended -->
    <meta property="og:description" content="Offering tour packages for individuals or groups.">
    <meta property="og:site_name" content="European Travel, Inc.">
    <meta name="twitter:image:alt" content="Alt text for image">

    <!--  Non-Essential, But Required for Analytics -->
    <meta property="fb:app_id" content="your_app_id" />
    <meta name="twitter:site" content="@website-username">



    <link rel="stylesheet" href="my-css-file.css" />
    <script src="my-js-file.js" defer></script>

  </head>

  <body>
    
    <header>
        <img class="top-logo" src="./Asset 1@3x.png" alt="Lucky Shrub Logo" height="150 rem" >
    </header>
    <nav class="navigation">
        <ul>
            <li class="active"><a href="#">Home</a></li>
            <li class="active1"><a href="#">Portfolio</a></li>
            <li class="active2"><a href="#">Nursery</a></li>
            <li class="active3"><a href="#">Contact Us</a></li>
        </ul>
    </nav>
    <main>
    <section>
        <article>
            <h1>Welcome to our store!</h1>
            <p>We specialize in garden design and creationf.</p>
        </article>
    </section>
    <section class="container">
        <div class="column">
            <div style="text-align: center;"><h2 class="special-link"><a href="#">Landscaping Services</a></h2></div>
            <img src="./pexels-daniela-constantini-5591714.jpg" width="45%" style="float:left; margin: 1rem">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </div>
        <div class="column">
            <div style="text-align: center;"><h2 class="special-link"><a href="#">Exotic Lines</a></h2></div>
            <div style="text-align: center;"><img src="./pexels-samer-daboul-4324456.jpg" width="100%"></div>Vivamus in enim vitae nibh porta porta.</div>
        <div class="column">
        <div style="text-align: center;"><h2 class="special-link"><a href="#">Seasonals</a></h2></div>
        <div style="text-align: center;"><img src="./pexels-irina-iriser-1122637.jpg" width="100%"></img></div>Curabitur ullamcorper quam. </div>
    </section>
    </main>

    <footer>
        <div><img src="./Asset 1@3x.png" alt="Lucky Shrub Logo" height="100 rem">
        </div>
        <div>
            <h4>Lucky Shrub</h4>
            <p>Copyright 2022.</p>
        </div>
    </footer>

    </body>
    </html>
